<section class="hero is-large">
  <div class="hero-body">
    <div class="container">
      <p class="title has-text-centered">Select a Randomizer</p>
      <div class="columns is-centered">
        <div class="column is-one-third">
          <a class="image" routerLink="/games/prime">
            <!-- not checking in actual image, so leaving src out for the time being -->
            <img>
          </a>
        </div>
        <div class="column is-one-third">
          <a class="image" routerLink="/games/echoes">
            <!-- not checking in actual image, so leaving src out for the time being -->
            <img>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
