<section class="hero is-info is-small game-bg" [ngStyle]="heroStyle">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column game-icon-column is-hidden-mobile">
            <div class="image">
              <img [src]="cdnUrl + 'games/icons/' + randomizer.game.icon" />
            </div>
          </div>
          <div class="column">
            <h1 class="title">
              <a routerLink=".">{{ randomizer.name }}</a>
            </h1>
            <button class="button is-large is-link">Download</button>
          </div>
        </div>
      </div>
    </div>
  </section>
